{% extends "base.html" %}
{% block content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h2>Balaio de Livros</h2>
                    <h4>Sistema de troca de livros</h4>
                    <hr class="intro-divider">
                      <div class="busca" >
                        <input type="text" id="campo_busca" placeholder="O que você procura?">
                          <button type="submit" onclick="" class="buscar_produto">
                              <i class="fa fa-search" action="" ></i>
                          </button>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}